


@media (min-width: 1440px) {
    .header {
        padding: 1rem 2rem;
        /* font-size: var(--fs-small); */
    }
    .header__menu {
        display: none;
    }
    .column_even {
        display: flex;
        gap: 2rem;
    }
    .column_bigger {
        gap: 5rem;
    }
    /* .column_even > nav > ul {
        display: flex;
        gap: 4rem;
        position: relative;
    } */

}
